* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: "Alegreya Sans SC";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.desktop {
  display: none;
}

.name {
  text-align: center;
}

.intro {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.section-element {
  max-width: 600px;
  width: 90%;
  font-size: 1.5rem;
  text-align: center;
}

.photo-1 {
  max-width: 100%;
  height: auto;
}

.photo-2 {
  display: none;
}

@media (min-width: 768px) {
  .section-element {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .desktop {
    display: block;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    font-size: 3rem;
  }

  .header-element {
    /* margin:30px ; */
    padding: 15px;
    font-size: 1.1rem;
    display: inline;
  }

  .intro {
    height: 40vh;
  }

  .section-element {
    font-size: 2.3rem;
    max-width: 800px;
  }
  .photo-1 {
    display: none;
  }
  .photo-2 {
    display: block;
    width: 100%;
    height: auto;
  }

  /* .box{
        width: 300px;
        height: 300px;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
}

@media (min-width: 1200px) {
}
